.next
out
node_modules
.npm-cache
.tools
.data
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local
!.env.example
*.log
*.sqlite
*.sqlite-shm
*.sqlite-wal
tsconfig.tsbuildinfo
.DS_Store
